.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .frame-content{
    display: flex;
    background-color: var(--text-gray-3);
    padding: 7% 10%;
    .frame{
      width: 50%;
      margin: 0 5% 0 0;
      iframe{
        height: 100%;
        min-height: 300px;
        width: 100%;
      }
    }
    .text{
      width: 50%;
      p{
        font-size: var(--h5-size);
        color: var(--text-gray-2);
        line-height: 2;
      }
    }
  }

  .partners-content{
    display: flex;
    width: 80%;
    margin: 120px 0 0 0;
    .title{
      padding: 30px;
      h1{
        font-size: var(--h0-size);
        font-weight: 600;
      }
      h4{
        color: var(--text-gray-2);
        white-space: nowrap;
      }
    }
    .partners{
      width: 100%;
      .carousel-container {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 50px;
        .img-list{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 20px;
          row-gap: 20px;
        }
        span{
          margin: 0 20px;
          color: var(--text-gray-2);
          cursor: pointer;
          &:hover{
            color: var(--primary-orange);
          }
        }
        .carousel-card {
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .frame-content{
    flex-direction: column;
    .frame, .text{
      width: 100% !important;
    }
  }
  .partners-content{
    flex-direction: column;
    width: 100% !important;
    .partners{
      .carousel-container {
        margin: 0 !important;
        .img-list{
          grid-template-columns: repeat(3, 1fr) !important; /* Uma coluna em telas menores */
        }
      }
    }
  }
}
