<div class="container">
  <div class="div-section">
    <section class="section">
      <div class="background-container">

      </div>
      <div class="card-container">
        <app-content-card cardTextContent="Capacitação e Tecnologia">

        </app-content-card>
        <app-content-card cardTextContent="Consultoria e Concursos Públicos">

        </app-content-card>
        <app-content-card cardTextContent="Recursos Humanos">

        </app-content-card>
      </div>
    </section>
  </div>
</div>
