.nav-bar-container{

  background-color: var(--background-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  .nav-bar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    .nav-item{
      display: flex;
      padding: 0 4%;
      align-items: center;
      justify-content: center;
      font-size: var(--h5-size);
      color: var(--text-primary-color);
      cursor: pointer;
    }
    .nav-item:hover{
      border-bottom: 2px solid var(--primary-orange);
    }
  }

  .nav-bar-logo{
    height: var(--nav-height);
    figure{
      margin-block: 0;
      margin-inline: 0;
      margin: 0 15px;
      height: 100%;
      display: flex;
      align-items: center;
      img{
        align-self: center;
      }
    }
  }

  .nav-bar-social-media{
    display: flex;
    height: var(--nav-height);
    align-items: center;
    justify-content: center;
    i{
      font-size: 24px;
      margin: 7px 10px;
      color: var(--primary-orange);
      cursor: pointer;
    }
    span{
      display: none;
      font-size: 42px;
      margin: 7px 12px;
      color: black;
      cursor: pointer;
    }
    mat-menu{
      margin-top: 20px;
    }
  }

}

::ng-deep{
  .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing{
    margin-top: 70px;
  }
  .cdk-overlay-connected-position-bounding-box{
    margin-top: 15px;
    .mat-menu-content{
      padding: 0 !important;
      background-color: var(--background-color);
      .mat-menu-item{
        border-bottom: 1px solid #00000030;
      }
      .mat-menu-item:last-child{
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 768px){

  .nav-bar-container{
    .nav-bar-social-media{
      span{
        display: block !important;
      }
    }

    .nav-bar{
      display: none !important;
    }
  }

}

