.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .card{
    width: 90%;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 0 #00000030;
    padding: 0 10px 10px 10px;
    mat-card-header{
      display: flex;
      justify-content: center;
      margin: 50px 0 30px 0;
      mat-card-title{
        color: var(--text-gray-2);
        font-size: var(--h1-size);
      }
    }
    mat-card-content{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .propose-content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 7% 0 2% 0;
    article{
      width: 100%;
      h1{
        font-size: var(--h0-size);
        color: var(--text-primary-color-2);
      }
      p{
        font-size: var(--h5-size);
        color: var(--text-gray-2);
        margin: 35px 0;
      }
      hr{
        width: 50%;
        height: 7px;
        border-radius: 10px;
        border: none;
        background-image: linear-gradient(45deg, #00FF0F 50%, #fcb900 50%);
      }
    }
  }
}
