<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        ANC - Agência Nacional da Cidadania
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-news-card
        title="Aventura Cultural da Cidade – FELIZ CIDADE"
        [img]="imgs[0]"
        [content]="contents[0]">
      </app-news-card>
      <app-news-card
        title="Pessoas físicas podem doar até 6% do que pagarão à Receita Federal"
        [img]="imgs[1]"
        [content]="contents[1]">
      </app-news-card>
      <app-news-card
        title="Curso Excelência no Atendimento ao Cidadão"
        [img]="imgs[2]"
        [content]="contents[2]">
      </app-news-card>
    </mat-card-content>
  </mat-card>
  <div class="propose-content">
    <article>
      <h1>ANCBrasil uma nova proposta de educação</h1>
      <p>O objetivo principal da ANCBrasil é tornar o cidadão Brasileiro capacitado a realizar seus objetivos através da educação profissionalizante.</p>
      <br>
      <hr>
    </article>
  </div>
</div>
