.container{
  .footer{
    margin-top: 220px;
    background-color: var(--background-color);
    .section{
      .background-section{
        height: 100%;
        background-image: url("/assets/about-section-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        .background-image{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #26194ec6;
          height: 100%;
          width: 100%;
          .content-card{
            bottom: 140px;
            position: relative;
          }
          .footer-content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 40px;
            .contact{
              width: 50%;
              ul{
                color: var(--text-light-color);
                list-style: none;
                li{
                  display: flex;
                  span{
                    margin: 0 10px;
                  }
                }
              }
            }
            .social-media{
              width: 40%;
              hr{
                margin-right: 20%;
                border-style: dashed;
                color: var(--text-light-color);
              }
              h1{
                color: var(--text-light-color);
                font-size: var(--h1-size);
                margin-bottom: 25px;
              }
              .icons{
                display: flex;
                .fb-icon, .ig-icon{
                  padding: 20px 25px 20px 25px;
                  background-color: var(--text-light-color);
                  font-size: 24px;
                  color: var(--text-primary-color);
                  border-radius: 100%;
                  cursor: pointer;
                  margin: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container{
    .footer{
      .section{
        .background-section{
          .background-image{
            .footer-content{
              flex-direction: column;
              .contact{
                width: 100%;
              }
              .social-media{
                width: 100%;
                text-align: center;
                hr{
                  margin: 0 10px !important;
                }
                .icons{
                  justify-content: center;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
