<div class="container">
  <div class="footer">
    <section class="section">
      <div class="background-section">
        <div class="background-image">
          <section class="content-card">
            <app-content-card
              cardTitle="PARTICIPE DE NOSSA CAMPANHA"
              textContent="Faça uma doação"
              [hasButton]="true"
              textButton="Clique para fazer uma doação"
              cardWidth="50vw"
              cardHeight="350px">
            </app-content-card>
          </section>
          <section class="footer-content">
            <div class="contact">
              <figure>
                <img [src]="ancLogo" alt="anc-logo">
              </figure>
              <ul>
                <li>
                  <span class="material-icons-outlined">
                    phone_enabled
                  </span>
                  <h4>+55 (11) 99681-9338</h4>
                </li>
                <li>
                  <span class="material-icons-outlined">
                    email
                  </span>
                  <h4>contato@ancbrasil.com.br</h4>
                </li>
                <li>
                  <span class="material-icons-outlined">
                    schedule
                  </span>
                  <h4>Aberto de Segunda à Sexta das 9:00h às 18:00h</h4>
                </li>
                <li>
                  <span class="material-icons-outlined">
                    location_on
                  </span>
                  <h4>Rua dos Pinheiros - Jardim Torrão de Ouro, São José dos Campos - SP, 12229-000</h4>
                </li>
              </ul>
            </div>
            <div class="social-media">
              <h1>Siga nossas redes sociais</h1>
              <hr>
              <br>
              <div class="icons">
                <a href="https://www.facebook.com/profile.php?id=100080789555081" target="_blank">
                  <div class="fb-icon">
                    <i class="fa-brands fa-facebook-f"></i>
                  </div>
                </a>
                <a href="https://www.instagram.com/anc_oficial_/" target="_blank">
                  <div class="ig-icon">
                    <i class="fa-brands fa-instagram"></i>
                  </div>
                </a>
              </div>
            </div>
          </section>
          <hr>
        </div>
      </div>
    </section>
  </div>
</div>
