<div class="container">
  <div class="about-section">
    <section class="section">
      <div class="background-section">
        <div class="background-image">
          <div class="content">
            <h1>Sobre a ANC Brasil</h1>
            <p> A ANC Brasil tem como finalidade fornecer subsídios para a formação do perfil de um cidadão ético, perspicaz, autoconfiante, com habilidade no trato com o público em todas as áreas do conhecimento atendidas pela ANCBrasil. Todo o cidadão tem almejado à eficiência no atendimento e dos serviços tanto público quanto privado. Para o atendimento desta expectativa, a capacitação é fundamental para atender esse pleito. A sociedade atual privilegia o conhecimento, na qual o aperfeiçoamento constante de habilidades é quase um pré-requisito. Os governos necessitam de servidores capacitados a atender demandas crescentes da população cada vez mais exigente quanto a eficiência dos serviços públicos, por isso seguem este mesmo caminho assim como o setor privado. O modelo gerencial preconiza mais autonomia e responsabilidade ao servidor e ao cidadão para o cumprimento de metas e resultados, com foco no desenvolvimento de competências por meio da capacitação profissional.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="news-section">
    <app-news-section></app-news-section>
  </div>
</div>
