
.card{
  display: flex;
  flex-direction: column;
  height: 100%;
  mat-card{
    display: grid;
    flex-direction: column;
    box-shadow: none !important;
    height: 100%;
    cursor: pointer;
    figure{
      margin-block: 0;
      margin-inline: 0;
      img{
        width: 100%;
        height: 230px;
      }
    }
    mat-card-header{
      color: var(--text-gray);
      .mat-card-header-text{
        margin: 0 !important;
      }

    }
    mat-card-content{
      p{
        font-size: var(--h6-size);
        color: var(--text-gray-2);
      }
    }
    h5{
      align-self: flex-end;
      justify-self: flex-end;
      font-weight: 600;
      font-size: var(--h6-size);
      color: var(--text-primary-color-2);
    }
  }
  mat-card:hover{
    box-shadow: 0px 2px 1px -1px #F2883870 !important;
    background-color: var(--background-color);
    h5{
      color: var(--primary-orange);
    }
  }

}

::ng-deep{
  .card{
    mat-card{
      mat-card-header{
        .mat-card-header-text{
          margin: 0 !important;
          mat-card-title{
            margin: 10px 0 !important;
          }
        }
      }
    }
  }
}

