html, body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root{
  --text-primary-color: #16163f;

  --h5-size: 16px;
  --h4-size: 18px;
  --h3-size: 20px;
  --h2-size: 24px;
  --h1-size: 32px;

  --text-roboto: "Roboto", Sans-serif;

  --background-color: #F4F4F4;
  --primary-orange: #F28838;

  --nav-height: 65px;
}
